<script src="~/scripts/myscript1.js"></script>
@{
    ViewBag.Title = "Documentations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-faded p-4 my-4">
    <h3>Documentations</h3>
    <p>
        Author: Simin Huang<br />
        Student ID: 28456823<br />
        Unit Name: FIT5032 Internet Application Development<br />
        Unit Provider: Monash University, The Caulfield School of Information Technology<br />
        Task Number: Task 5.3<br />
        Tutor: Xiaoxiang Guan<br />
        Author's Email: <a href="https://mail.google.com/mail/#inbox?compose=15e5cdda6a6ba0bd"> shua0012@student.monash.edu</a> <br />
        Task Specificatioin:<a href="http://moodle.vle.monash.edu/mod/page/view.php?id=4154651"> Draft C Code Task Details</a>
    </p>
    <p>
        <div class="container">
        <table class="tabledoc" id="docu">
            <thead>
                <tr>
                    <th width="350px">
                        Image
                    </th>
                    <th>
                        Source
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="~/content/images/mainpage.jpg" style="width:300px" />
                    </td>
                    <td>
                        <ul>
                           <li>
                            <a style="display:block;width:300px;" href="https://www.google.com.au/url?sa=i&rct=j&q=&esrc=s&source=imgres&cd=&cad=rja&uact=8&ved=0ahUKEwjz56jcucnWAhWKgbwKHWyqATkQjRwIBw&url=https%3A%2F%2Fwww.behance.net%2Fgallery%2F34601243%2FExpress-News-Filler-ID&psig=AFQjCNEILHIl-QRPRpuHlRzyjcVMblUwGA&ust=1506742061589264" width="200px">
                                www.google.com.au/url?sa=i&rct=j&q=&esrc=s&source=imgres&cd=&cad=rja&uact=8&ved=0ahUKEwjz56jcucnWAh <br/>
                                WKgbwKHWyqATkQjRwIBw&url=https%3A%2F%2Fwww.behance.net%2Fgallery%2F34601243%2 <br />
                                FExpress-News-Filler-ID&psig=AFQjCNEILHIl-QRPRpuHlRzyjcVMblUwGA&ust=1506742061589264
                             </a>
                           </li>
                        </ul>
</td>
                </tr>
            </tbody>
        </table>
      </div>
    </p>
</div>